.cred{
    height: 77.6vh;
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow-X: hidden;


}
.cred_add{
    width: 5vh;
    height: 5vh;
    display: flex;
    position: fixed;
    bottom: 10%;
    right: 5%;;
    background-color:transparent ;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: white;
    z-index: 20;
    transition: transform 0.3ms ease-in;
}
.cred_add button{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color:#2386c8 ;
    transition: all 0.3s ease-in;
    color: white;
    font-size:  3vh;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    border-collapse: collapse;
}

.cred_add button:hover{
    transform: scale(1.1,1.1);
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 10px;
    color: black;
}

.cred_add button:focus{
    outline: none;
}

.cred_bod{
    width: 100%;
}

.cred_content {

    width: 100%;
    justify-content: center;
    align-items: center;
}

.cred_content_header{
    height: 5vh;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.cred_content_header a{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 25%;
    height: 100%;
    font-size: large;
    font-weight: bold;
    color: white;
}

.cred_list{
    width: 100%;
    height: 72.6vh;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white ;
    border-right:  1px solid white;
    overflow-y:auto
    
}

.cred_list_item{
    height: 7vh;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all 0.3ms ease-in;
}

.cred_list_item:hover{
    
    background-color: #2386c8;
    cursor: pointer;
}

.cred_list_item a{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 20%;
    height: 100%;
    font-size: large;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white ;
    border-right:  1px solid white;
}

.cred_list::-webkit-scrollbar {
    width: 10px;
}
.scred_list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.cred_list::-webkit-scrollbar-thumb {
  background-color: #2386c8;
  outline: 1px solid slategrey;
}