

.App-body {
  height: 100vh;
  background-color: #0e0f11;
  display: flex;
  color: white;
  align-items: center;
  display:flex;
  justify-content: center;
  overflow: hidden;
  overflow-y: "hidden"
  
}

.App-Intial {
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow-y: "hidden"
  
}
